/* add CSS class and element and selectors here */
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Shrikhand|Song+Myung');


body {
  background-color: red;
  color: black;
  margin-top: 300px;
  margin-bottom: 200px;
  margin-left: 200px;
  margin-right: 200px;
}
#name {
  font-family: 'Song Myung', serif;
  font-size: 100px;
  text-align: center;
  background-color: white;
  border-bottom: solid 3px;
  margin: 0px;
  padding: 0;
  
}

#contact_info {
  font-family: 'Song Myung', serif;
  font-size: 20px;
  text-align: center;
  background-color: white;
  margin: 0px;
  padding: 0;
}

