/* add CSS class and element and selectors here */
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Shrikhand|Song+Myung');


body {
  background-color: red;
  color: black;

}
#name {
  /*font-family: 'Song Myung', serif;*/
  font-size: 50px;
  text-align: center;
  background-color: white;
  border-bottom: solid 3px;
  
}

#contact_info {
  font-family: 'Song Myung', serif;
  font-size: 20px;
  text-align: center;
  background-color: white;
}
